.cta {
  max-width: 60rem;
  margin: 3rem auto;
  padding: 4rem;
}

.ca-gratte {
  background-color: theme-color("rouge-fif");
}


.chat-perche {
  background-color: theme-color("bleu-fif");
}

.soin-minou {
  background-color: theme-color("vert-fif");
}
