.cta {
  margin: 4rem auto;

  @include media-breakpoint-up(md) {
    max-width: 40rem;

    &:nth-child(even) {
      padding-left: 3rem;
    }

    &:nth-child(odd) {
      padding-right: 3rem;
    }
  }

  @include media-breakpoint-up(lg) {
    max-width: 50rem;
  }

}



@mixin texture-pointilles($color) {
  @include texture-pointilles-simple;

  .bloc-content {
    background-color: theme-color($color);
    transform: rotate(2.5deg);
    margin-bottom: 1.5rem;
    padding: 1.5rem;

    @include media-breakpoint-up(md) {
      padding: 4rem;
    }
  }

  .btn-fif {
    @include btn-fif(white, theme-color($color));
  }

}

.ca-gratte {
  @include texture-pointilles("rouge-fif");
}

.chat-perche {
  @include texture-pointilles("bleu-fif");
}

.soin-minou {
  @include texture-pointilles("vert-fif");
}
