.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}


// MAIN MENU 

$timing-function : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$nav-width-desktop : 40em;
$nav-width-mobile : 25em;
$nav-item-nb : 6;

input {
  position: fixed;
  opacity: 0;
}

label {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  &::before {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(darken(#3498db, 40%), .75);
    content: '';
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s $timing-function;
  }

  .burger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 4em;
    height: 4em;
    margin: 0;
    padding: 0.5rem;
    background-color: darken(theme-color('rouge-fif'), 25%);
    border: 15px solid darken(theme-color('rouge-fif'), 25%);
    transition: opacity .5s $timing-function;

    &::before,
    .bar,
    &::after {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 12%;
      background: white;
      content: '';
      transition: all .5s $timing-function;
    }

    .bar {
      top: 44%;
    }

    &::before {
      top: 0;
      transform-origin: top left;
    }

    &::after {
      bottom: 0;
      transform-origin: bottom left;
    }
  }
}


input:focus+label,
label:hover {
  .burger {
    opacity: .75;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  /* material acceleration */
  transform: translateX(-100%);
  will-change: transform;
  transition: transform .5s $timing-function;
  background-color: darken(theme-color('rouge-fif'), 25%);
  overflow: auto;
  padding: 1rem;

  a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: translateX(-100%);
    transition: color .15s, transform .5s;
    transition-timing-function: $timing-function;

    @for $i from 1 through $nav-item-nb {
      &:nth-child(#{$i}) {
        transition-delay: 0s,
        #{50 + (50 * $i)}ms;
      }
    }

    &:hover,
    &:focus {
      color: black;
    }
  }
}

main {
  overflow: hidden;

  .content {
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    will-change: transform, filter;
    transition: all .5s $timing-function;
  }
}

[id="navcheck"]:checked {
  &+label {
    &::before {
      opacity: 1;
      pointer-events: auto;
    }

    .burger {

      &::before,
      &::after {
        width: 141.42%; // Pythagore!
      }

      &::before {
        transform: rotate(45deg) translateY(-50%);
      }

      &::after {
        transform: rotate(-45deg) translateY(50%);
      }

      .bar {
        transform: scale(0.1);
      }
    }
  }

  &~nav {
    transform: translateX(0);
    padding-top: 3rem;
    ;
    justify-content: normal;

    &::before {
      transform: skewX(15deg) translateX(0);
    }

    a {
      transform: translateX(0);
    }
  }

  &~main .content {
    transform: translateX(3em);
    transform-origin: left center;
    filter: blur(2px);
  }
}

/* helper */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* misc */
body {
  overflow-x: hidden;
  background: #444;
  color: white;
  font: 1em/1.4 "lato";
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  width: 100%
}

#menu-main-menu {


  ul>li {

    span {
      font-family: 'andika_new_basicregular', Calibri, 'Trebuchet MS', sans-serif;
    }
  }

  p {
    margin-bottom: 0;
  }

  // RUBRIQUES NIVEAU 0
  .menu-item {
    margin-top: 0rem;
    font-family: 'vtf_misterpixelregular', 'Trebuchet MS', sans-serif;
    font-size: 1.75rem;
    text-transform: uppercase;

    span {
      text-transform: lowercase;
    }

    a[href*="#"] {
      text-decoration: none;

      &:hover {
        color: white;
      }
    }
  }

  // RUBRIQUES NIVEAU 1
  .sub-menu {
    padding: 0;
    list-style-position: inside;
    margin-bottom: 3rem;

    .menu-item {
      font-family: 'andika_new_basicregular', 'Trebuchet MS', sans-serif !important;
      text-transform: lowercase;
      text-transform: capitalize !important;
      font-size: 1rem !important;
      border-bottom: 1px dotted white;
      padding: 1rem 0;

    }
  }
}

#menu .search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 10rem;
  margin: 3rem auto;

  .search-submit {
    margin-top: -1.5rem;
    position: relative;
  }

  input {
    opacity: 1 !important;
  }
}
