.page-template,
// .page-template main,
// .single main,
.home,
.blog,
.single {
  background: #eee url('../images/texture-photocop-gradient.png');
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro {
  text-align: center;
  color: black;
  margin: 8rem auto;

  .titre {
    color: theme-color("rouge-fif");
    font-size: 4rem;
  }

  .sstitre {}
}
