body {
  font-family: $font-family-sans-serif;
  color: theme-color("bleu-fif") !important;


}

.brand {
  font-family: 'vtf_misterpixelregular';
}

html {}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}
