/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (primary: #525ddc, "rouge-fif":#f71e4a, "inter-fif":#ba225f, "violet-fif":#491f84);

@font-face {
  font-family: 'vtf_misterpixelregular';
  src: url('../fonts/mister_pixel_regular-webfont.woff2') format('woff2'),
    url('../fonts/mister_pixel_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vtf_misterpixeltools';
  src: url('../fonts/mister_pixel_tools-webfont.woff2') format('woff2'),
    url('../fonts/mister_pixel_tools-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'andika_new_basicbold';
  src: url('../fonts/andikanewbasic-b-webfont.woff2') format('woff2'),
    url('../fonts/andikanewbasic-b-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'andika_new_basicbold_italic';
  src: url('../fonts/andikanewbasic-bi-webfont.woff2') format('woff2'),
    url('../fonts/andikanewbasic-bi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'andika_new_basicregular';
  src: url('../fonts/andikanewbasic-r-webfont.woff2') format('woff2'),
    url('../fonts/andikanewbasic-r-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'andika_new_basicregular' !important;
$font-family-base: $font-family-sans-serif;
$headings-font-family: 'vtf_misterpixelregular' !default;


/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;


// Links
//
// Style anchor elements.

$link-color: theme-color("rouge-fif") !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 25%) !default;
$link-hover-decoration: underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;
